@use "../globals" as *;
@use "../parts/common" as *;

#container{
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
    z-index: 10;
    background: $cWhite;
}

#main-content{
    position: relative;
    z-index: 0;
}

main{
    position: relative;
    z-index: -1;
}

.header{
    position: fixed;//ウィンドウの上部に固定されて表示
    //左右に広がるようにする
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background: transparent;//初期状態の背景透過
    display: flex;
    text-align: center;
    z-index: 100;

    &.triggered{
        background: rgba(255,255,255,0.9);//透明度0.9の白
        box-shadow: 10px,0px,25px,-10px rgba(0,0,0,.5);//.5はcssで0.5
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
        
        & > .logo{
            justify-content: center;//左右中央ぞろえ

            @include mq(sm){//ウィンドウがipadの横幅になったとき
                font-size: 42px;
                justify-content: flex-start;//左揃え
            }
        } 
    }

    &__nav{
        @extend .flex;
        justify-content: space-between;//両端にそろえる
        align-items: center;//上下中央ぞろえ
        text-align: center;//文字列中央ぞろえ
        display: none;//ディスプレイがスマホサイズの時非表示
        @include mq(lg){
            display: block;
        }
    }

    &__ul{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li{
        margin: 10px;

        @include mq(md){
            margin-left: 30px;
            margin-right: 0;
        }

        & > a{
            color: $cBlack;
            text-decoration: none;//下線消す
            text-transform: uppercase;//大文字
        }
    }

    /* &.logo {
        justify-content: center;//左右中央ぞろえ
        font-size: 30px;
        @include mq(md){//ウィンドウがipadの横幅になったとき
            font-size: 35px;
            justify-content: flex-start;//左揃え
        }
    } */ 
}

.hero{
    @extend .pb-lg;
}

.travel{
    @extend .content-width;
    @extend .mb-lg;

    &__inner{
        position: relative;
        z-index: 0;
        @extend .flex;
        justify-content: space-between;
        background: $cBgGray;
        padding: 15px;

        @include mq(md){
            padding: 50px;
        }

        @include mq(xl){
            padding: 50px 150px;
        }
    }

    &__img{
        height: 300px;
        @extend .mb-sm;
        transition: box-shadow 0.7s ease 1.6s;//_image-slide.scssの.cover-slideがduration 1.6sだから

        &.inview{
            box-shadow: inset 0 0 30px $cBlack;
        }
        
        @include mq(md){
            flex-basis: 47%;
        }

        @include mq(lg){
            height: 400px;
        }

        & > img{
            position: relative;
            z-index: -1;
            opacity: 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__texts{
        @include mq(md){
            display: flex;
            align-items: flex-end;
            flex-basis: 47%;
        }

        &.inview{
            &.travel__title::before{
                @include animation($name:scaleX,$duration:0.3s,$delay:1.4s);
            }
        }
    }

    &__title{
        position: relative;

        /* &::before{
            display: none;
            content: '';
            position: absolute;
            height: 1px;
            width: 100px;
            top: 50%;
            left: -120px;
            background-color: $cBlack;
            transform: scaleX(0);
            transform-origin: right;
        } */
    }

    &__description{
        @include mq(lg){
            margin-bottom: 40px;
        }
    }
}

@keyframes scaleX{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.houses{
    @extend .content-width;
    @extend .mb-lg;

    &__inner{
        @extend .flex;
    }

    &__title{
        @extend .mb-sm;
        @extend .font-lr;
    }

    &__item{
        @include mq(md){
            flex-basis: 50%;
        }
        @include mq(lg){
            margin-bottom: 60px;
        }
    }

    &__btn{
        text-align: center;
        flex-basis: 100%;
    }
}

.popular{
    //コンパイルエラーあるとsassは読み込んでくれない大量のファイルがあるときはエラーメッセージのパスみて対処
    &__header{
        @extend .content-width;//ページの広がりに合わせてhtmlの位置調整
    }

    &__inner{
        position: relative;

        &::before{
            content: '';
            position: absolute;

            bottom: 0;
            left: 0;
            height: 90%;
            width: 100%;

            background-color: $cBgGray;
        }
    }

    &__container{ 
        //画像を前面に表示する
        position: relative;//z-indexを有効にする
        z-index: 2;
        @extend .content-width;
        @extend .flex;
        justify-content: space-between;//両端ぞろえで画像の間に余白
    }

    &__item {
        @include mq(md) {
            flex-basis: 47%;//47+47=94で後の6%を余白とする
        }
        @include mq(lg) {
            flex-basis: 47%;//25*4=100でページが広がったとき画像を横並びにする
        }
    }

    &__title{
        @extend .mb-sm;//画像の下に余白
        @extend .font-md;//フォントサイズ調整(ちょっとでかくした)
    }

    &__img {
        height: 150px;

        //画像の下に余白
        margin-bottom: 5px;

        //ページが広がったとき画像の高さ調整
        @include mq(lg) {
            height: 335px;
        }

        & > img {
            width: 100%;
            height: 100%;

            //imgタグの大きさに合わせて画像を表示この場合高さ150pxまで横幅は左右一杯まで
            object-fit: cover;
            //object-position: top;//画像の上方向から表示
        }
    }

    &__btn{
        text-align: center;

        //左右中央ぞろえ
        flex-basis: 100%;

        //ボタンの下に余白
        @extend .mb-lg;
    }
}

.footer{
    padding: 60px 0;
    @extend .content-width;
    
    &__nav{
        @extend .flex;
        justify-content: space-between;//両端にそろえる
        align-items: center;//上下中央ぞろえ
        text-align: center;//文字列中央ぞろえ
    }

    &__ul{
        @extend .flex;
        list-style: none;
        padding: 0;
    }

    &__li{
        margin: 10px;

        @include mq(md){
            margin-left: 0;
            margin-right: 30px;
        }

        & > a{
            color: $cSubTitle;
            text-decoration: none;//下線消す
        }
    }

    /* & > .logo {
        font-size: 38px;
        justify-content: center;//左右中央ぞろえ
        @include mq(md){//ウィンドウがipadの横幅になったとき
            justify-content: flex-start;//左揃え
        }
    } */
}

.logo{
    font-size: 35px;
    display: flex;//左右に並べる

    
    &__img{
        width: 0.7em;//emは要素のフォントサイズとの相対的な大きさ指定
    }

    &__world{
        color: $cWineRed;
    }
}

.side{
    position: fixed;//スクロールに追従してくる

    //調整必要
    top: 70%;
    transform: translateY(-50%);

    //ウィンドウが広がったときだけサイドバーを表示
    display: none;
    @include mq(xl){
        display: block;
    }
    //アニメーションが見えるようにする
    transition: all 0.3s ease;

    & .tween-animate-title{
        color: $cBlack;
        text-decoration: none !important;//ホバーしても下線付かないようにする
        //アイコンの文字位置微調整
        margin: 0 40px;
        vertical-align: middle;//上下の中央ぞろえに使う
        letter-spacing: 2px;//文字の間の感覚2ピクセル
    }
    
    &.left{
        //左から50pxの位置に表示
        left: -50px;

        &.inview{
            left: 50px;
        }

        //文字列を縦にする
        & .side__inner{
            //文字列を左上にしてtransform rotateで回転
            transform-origin: top left;
            transform: rotate(-90deg);
        }
    }

    &.right{
        right: -50px;

        &.inview{
            right: 50px;
        }

        & .side__inner{
            transform-origin: top right;
            transform: rotate(90deg);
        }
    }
}

.icon{
    //表示位置調整
    position: relative;

    &::before{
        position: absolute;
        content: '';
        //アイコンを上下中央ぞろえにする
        top: 50%;
        left: -20px;
        width: 1em;
        height: 1em;
        transform: translateY(-50%);
        
        background-position: center;
        //背景画像表示を繰り返さない
        background-repeat: none;
        //背景画像がちょん切れることを防ぐ
        background-size: contain;
    }

    /* &.twitter::before{
        background-image: url(../images/twitter.svg);
    } */

    &.fb::before{
        background-image: url(../images/facebook.svg);
    }
}